.elementor-3181 .elementor-element.elementor-element-b96a963 > .elementor-container {
    min-height: 400px;
}

.elementor-3181 .elementor-element.elementor-element-b96a963 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2% 0% 5% 0%;
    z-index: 1;
}

.elementor-3181 .elementor-element.elementor-element-44123f1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 100px 100px 100px;
}

.elementor-bc-flex-widget .elementor-3181 .elementor-element.elementor-element-9179cf2.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3181 .elementor-element.elementor-element-9179cf2.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3181 .elementor-element.elementor-element-9179cf2.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-3181 .elementor-element.elementor-element-9179cf2 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-3181 .elementor-element.elementor-element-9179cf2 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0% 0% 0% 0%;
}

.elementor-3181 .elementor-element.elementor-element-00d54da {
    text-align: center;
    width: auto;
    max-width: auto;
}

.elementor-3181 .elementor-element.elementor-element-00d54da > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3181 .elementor-element.elementor-element-67dc7fe {
    text-align: center;
    width: auto;
    max-width: auto;
    top: 0px;
    --e-transform-transition-duration: 400ms;
    --e-transform-origin-x: center;
    --e-transform-origin-y: center;
}

.elementor-3181 .elementor-element.elementor-element-67dc7fe img {
    width: 100%;
}

.elementor-3181 .elementor-element.elementor-element-67dc7fe > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    --e-transform-rotateZ: 0deg;
}

.elementor-3181 .elementor-element.elementor-element-67dc7fe > .elementor-widget-container:hover {
    --e-transform-rotateZ: 320deg;
}

.elementor-3181 .elementor-element.elementor-element-c5cdc1d > .elementor-container {
    max-width: 500px;
}

.elementor-3181 .elementor-element.elementor-element-c5cdc1d {
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 0px 0px 0px 0px;
}

.elementor-3181 .elementor-element.elementor-element-f398da4.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-3181 .elementor-element.elementor-element-9312b8b img {
    width: 100%;
}

.elementor-3181 .elementor-element.elementor-element-0c5b329 img {
    width: 100%;
}

.elementor-3181 .elementor-element.elementor-element-73199a2 {
    margin-top: 3%;
    margin-bottom: 0%;
}

.elementor-3181 .elementor-element.elementor-element-143b1c0.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-3181 .elementor-element.elementor-element-ec03111 {
    text-align: center;
    width: auto;
    max-width: auto;
}

.elementor-3181 .elementor-element.elementor-element-ec03111 .elementor-heading-title {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight );
}

.elementor-3181 .elementor-element.elementor-element-4e39a09 {
    margin-top: 3%;
    margin-bottom: 0%;
    padding: 0px 0px 0px 0px;
}

.elementor-3181 .elementor-element.elementor-element-709017a.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-3181 .elementor-element.elementor-element-8010617 {
    text-align: center;
    width: auto;
    max-width: auto;
}

.elementor-3181 .elementor-element.elementor-element-8010617 .elementor-heading-title {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-secondary-font-weight );
}

@media(max-width: 1024px) {
    .elementor-3181 .elementor-element.elementor-element-44123f1 {
        margin-top:0px;
        margin-bottom: 0px;
        padding: 0% 0% 0% 0%;
    }

    .elementor-3181 .elementor-element.elementor-element-c5cdc1d {
        margin-top: 15%;
        margin-bottom: 0%;
    }

    .elementor-3181 .elementor-element.elementor-element-73199a2 {
        margin-top: 15%;
        margin-bottom: 0%;
    }
}

@media(max-width: 767px) {
    .elementor-3181 .elementor-element.elementor-element-b96a963 {
        padding:10% 10% 10% 10%;
    }

    .elementor-3181 .elementor-element.elementor-element-44123f1 {
        padding: 15% 0% 5% 0%;
    }

    .elementor-3181 .elementor-element.elementor-element-9179cf2 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-3181 .elementor-element.elementor-element-9179cf2 > .elementor-element-populated > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-3181 .elementor-element.elementor-element-c5cdc1d {
        margin-top: 20%;
        margin-bottom: 0%;
    }

    .elementor-3181 .elementor-element.elementor-element-9312b8b > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3181 .elementor-element.elementor-element-0c5b329 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3181 .elementor-element.elementor-element-73199a2 {
        margin-top: 20%;
        margin-bottom: 0%;
        padding: 0px 0px 0px 0px;
    }
}

/* Start custom CSS for image, class: .elementor-element-00d54da */
.elementor-3181 .elementor-element.elementor-element-00d54da img {
    min-width: 15.3vw!important;
    animation-name: spin;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-67dc7fe */
.elementor-3181 .elementor-element.elementor-element-67dc7fe img {
    min-width: 15.3vw!important;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-9179cf2 */
@media only screen and (max-width: 600px) {
    .elementor-3181 .elementor-element.elementor-element-9179cf2 img {
        max-width:40vw!important;
    }
}

/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-9312b8b */
.elementor-3181 .elementor-element.elementor-element-9312b8b {
    max-width: 160px;
    min-width: 80px;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
}

.elementor-3181 .elementor-element.elementor-element-9312b8b:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 600px) {
    .elementor-3181 .elementor-element.elementor-element-9312b8b {
        max-width:50px;
        min-width: 80px;
        margin: auto;
        transition: opacity 0.3s ease-in-out;
    }
}

/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0c5b329 */
.elementor-3181 .elementor-element.elementor-element-0c5b329 {
    max-width: 150px;
    min-width: 80px;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
}

.elementor-3181 .elementor-element.elementor-element-0c5b329:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 600px) {
    .elementor-3181 .elementor-element.elementor-element-0c5b329 {
        max-width:50px;
        min-width: 80px;
        margin: auto;
        transition: opacity 0.3s ease-in-out;
    }
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-8010617 */
.footer-links h5 {
    font-size: 1vw
}

@media only screen and (max-width: 600px) {
    .footer-links h5 {
        font-size:13px;
    }
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-b96a963 */
.elementor-3181 .elementor-element.elementor-element-b96a963 .elementor-section {
    overflow: hidden;
}

.elementor-3181 .elementor-element.elementor-element-b96a963 .slideInUp {
    -webkit-animation: slideInUp2 1s normal!important;
    animation-timing-function: cubic-bezier(0.65, 0, 0, 1)!important;
}

.footer-links h5 {
    font-size: 15px!important;
}

@media only screen and (max-width: 600px) {
    .footer-links h5 {
        font-size:13px!important;
    }
}

/* End custom CSS */
