*,:before,:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

:before,:after {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Untitled Sans,system-ui,sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,samp,pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle;
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,:before,:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.container {
    width: 100%
}

@media (min-width: 375px) {
    .container {
        max-width:375px
    }
}

@media (min-width: 475px) {
    .container {
        max-width:475px
    }
}

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}

.pointer-events-none {
    pointer-events: none
}

.pointer-events-auto {
    pointer-events: auto
}

.visible {
    visibility: visible
}

.invisible {
    visibility: hidden
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    inset: 0
}

.-top-2 {
    top: -.5rem
}

.-top-3 {
    top: -.75rem
}

.-top-\[3rem\] {
    top: -3rem
}

.bottom-0 {
    bottom: 0
}

.bottom-1 {
    bottom: .25rem
}

.bottom-4 {
    bottom: 1rem
}

.bottom-8 {
    bottom: 2rem
}

.left-0 {
    left: 0
}

.left-4 {
    left: 1rem
}

.left-\[5\%\] {
    left: 5%
}

.right-0 {
    right: 0
}

.top-0 {
    top: 0
}

.top-8 {
    top: 2rem
}

.top-\[100svh\] {
    top: 100svh
}

.top-\[200svh\] {
    top: 200svh
}

.top-\[300svh\] {
    top: 300svh
}

.top-\[400svh\] {
    top: 400svh
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-30 {
    z-index: 30
}

.z-50 {
    z-index: 50
}

.z-\[99\] {
    z-index: 99
}

.order-last {
    order: 9999
}

.col-span-1 {
    grid-column: span 1 / span 1
}

.col-span-12 {
    grid-column: span 12 / span 12
}

.col-span-2 {
    grid-column: span 2 / span 2
}

.col-span-3 {
    grid-column: span 3 / span 3
}

.col-span-4 {
    grid-column: span 4 / span 4
}

.col-span-6 {
    grid-column: span 6 / span 6
}

.col-start-8 {
    grid-column-start: 8
}

.col-start-9 {
    grid-column-start: 9
}

.-m-\[2vw\] {
    margin: -2vw
}

.-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem
}

.-mx-\[3px\] {
    margin-left: -3px;
    margin-right: -3px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-12 {
    margin-bottom: 3rem
}

.mb-14 {
    margin-bottom: 3.5rem
}

.mb-16 {
    margin-bottom: 4rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-24 {
    margin-bottom: 6rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-32 {
    margin-bottom: 8rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-64 {
    margin-bottom: 16rem
}

.mb-8 {
    margin-bottom: 2rem
}

.mb-9 {
    margin-bottom: 2.25rem
}

.mb-header {
    margin-bottom: 3.75rem
}

.ml-1 {
    margin-left: .25rem
}

.mr-1 {
    margin-right: .25rem
}

.mt-20 {
    margin-top: 5rem
}

.mt-36 {
    margin-top: 9rem
}

.mt-\[3px\] {
    margin-top: 3px
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.list-item {
    display: list-item
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1 / 1
}

.aspect-video {
    aspect-ratio: 16 / 9
}

.h-0 {
    height: 0px
}

.h-3 {
    height: .75rem
}

.h-96 {
    height: 24rem
}

.h-\[100px\] {
    height: 100px
}

.h-\[16px\] {
    height: 16px
}

.h-\[1px\] {
    height: 1px
}

.h-\[2\.5rem\] {
    height: 2.5rem
}

.h-\[26px\] {
    height: 26px
}

.h-\[40px\] {
    height: 40px
}

.h-\[69px\] {
    height: 69px
}

.h-\[calc\(100svh\+3rem\)\] {
    height: calc(100svh + 3rem)
}

.h-auto {
    height: auto
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh;
    height: 100svh
}

.max-h-\[175px\] {
    max-height: 175px
}

.min-h-\[150px\] {
    min-height: 150px
}

.min-h-\[500px\] {
    min-height: 500px
}

.min-h-full {
    min-height: 100%
}

.min-h-screen {
    min-height: 100vh;
    min-height: 100svh
}

.w-0 {
    width: 0px
}

.w-1\/2 {
    width: 50%
}

.w-24 {
    width: 6rem
}

.w-6 {
    width: 1.5rem
}

.w-8 {
    width: 2rem
}

.w-\[195px\] {
    width: 195px
}

.w-\[1px\] {
    width: 1px
}

.w-\[40\%\] {
    width: 40%
}

.w-\[40px\] {
    width: 40px
}

.w-\[90\%\] {
    width: 90%
}

.w-\[calc\(100\%-2rem\)\] {
    width: calc(100% - 2rem)
}

.w-\[calc\(100vw-2rem\)\] {
    width: calc(100vw - 2rem)
}

.w-full {
    width: 100%
}

.w-max {
    width: -moz-max-content;
    width: max-content
}

.w-screen {
    width: 100vw
}

.max-w-\[78px\] {
    max-width: 78px
}

.max-w-\[9rem\] {
    max-width: 9rem
}

.max-w-none {
    max-width: none
}

.flex-\[0_0_50px\] {
    flex: 0 0 50px
}

.flex-\[0_0_92\%\] {
    flex: 0 0 92%
}

.flex-\[0_1_100\%\] {
    flex: 0 1 100%
}

.origin-left {
    transform-origin: left
}

.origin-top-left {
    transform-origin: top left
}

.-translate-x-2 {
    --tw-translate-x: -.5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-\[1\.6em\] {
    --tw-translate-x: -1.6em;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-\[2\.8em\] {
    --tw-translate-x: -2.8em;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-1 {
    --tw-translate-x: .25rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-2 {
    --tw-translate-x: .5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-2 {
    --tw-translate-y: .5rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-2\.5 {
    --tw-translate-y: .625rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-8 {
    --tw-translate-y: 2rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[110\%\] {
    --tw-translate-y: 110%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[120\%\] {
    --tw-translate-y: 120%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[200\%\] {
    --tw-translate-y: 200%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-full {
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-\[0\.218\] {
    --tw-scale-x: .218;
    --tw-scale-y: .218;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-\[0\.6\] {
    --tw-scale-x: .6;
    --tw-scale-y: .6;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-x-0 {
    --tw-scale-x: 0;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
    cursor: pointer
}

.cursor-text {
    cursor: text
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.resize-none {
    resize: none
}

.resize {
    resize: both
}

.grid-cols-\[repeat\(17\,_minmax\(0\,_1fr\)\)\] {
    grid-template-columns: repeat(17,minmax(0,1fr))
}

.grid-rows-1 {
    grid-template-rows: repeat(1,minmax(0,1fr))
}

.flex-col {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-y-20 {
    row-gap: 5rem
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.overflow-y-scroll {
    overflow-y: scroll
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded-full {
    border-radius: 9999px
}

.border {
    border-width: 1px
}

.border-t {
    border-top-width: 1px
}

.border-black\/30 {
    border-color: #1a171e4d
}

.border-white\/20 {
    border-color: #fff3
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(26 23 30 / var(--tw-bg-opacity))
}

.bg-black\/30 {
    background-color: #1a171e4d
}

.bg-pure-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-royal-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(0 6 124 / var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-white\/20 {
    background-color: #fff3
}

.bg-white\/30 {
    background-color: #ffffff4d
}

.bg-cover {
    background-size: cover
}

.bg-center {
    background-position: center
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.object-top {
    -o-object-position: top;
    object-position: top
}

.p-1 {
    padding: .25rem
}

.p-3 {
    padding: .75rem
}

.p-\[2vw\] {
    padding: 2vw
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-\[1\.81rem\] {
    padding-left: 1.81rem;
    padding-right: 1.81rem
}

.px-\[3px\] {
    padding-left: 3px;
    padding-right: 3px
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-\[1\.16rem\] {
    padding-top: 1.16rem;
    padding-bottom: 1.16rem
}

.pb-12 {
    padding-bottom: 3rem
}

.pb-14 {
    padding-bottom: 3.5rem
}

.pb-16 {
    padding-bottom: 4rem
}

.pb-20 {
    padding-bottom: 5rem
}

.pb-24 {
    padding-bottom: 6rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-5 {
    padding-bottom: 1.25rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pb-7 {
    padding-bottom: 1.75rem
}

.pb-8 {
    padding-bottom: 2rem
}

.pb-\[12px\] {
    padding-bottom: 12px
}

.pl-4 {
    padding-left: 1rem
}

.pl-8 {
    padding-left: 2rem
}

.pl-\[1\.6em\] {
    padding-left: 1.6em
}

.pl-\[2\.8em\] {
    padding-left: 2.8em
}

.pl-\[282px\] {
    padding-left: 282px
}

.pr-4 {
    padding-right: 1rem
}

.pt-1 {
    padding-top: .25rem
}

.pt-10 {
    padding-top: 2.5rem
}

.pt-12 {
    padding-top: 3rem
}

.pt-14 {
    padding-top: 3.5rem
}

.pt-16 {
    padding-top: 4rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-20 {
    padding-top: 5rem
}

.pt-24 {
    padding-top: 6rem
}

.pt-3 {
    padding-top: .75rem
}

.pt-4 {
    padding-top: 1rem
}

.pt-48 {
    padding-top: 12rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pt-64 {
    padding-top: 16rem
}

.pt-80 {
    padding-top: 20rem
}

.pt-9 {
    padding-top: 2.25rem
}

.pt-header {
    padding-top: 3.75rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.align-middle {
    vertical-align: middle
}

.font-display {
    font-family: Proto Grotesk,system-ui,sans-serif
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(26 23 30 / var(--tw-text-opacity))
}

.text-pure-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-red {
    --tw-text-opacity: 1;
    color: rgb(224 45 62 / var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.placeholder-white\/30::-moz-placeholder {
    color: #ffffff4d
}

.placeholder-white\/30::placeholder {
    color: #ffffff4d
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.opacity-50 {
    opacity: .5
}

.mix-blend-difference {
    mix-blend-mode: difference
}

.outline-0 {
    outline-width: 0px
}

.ring-0 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.grayscale {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-\[padding\] {
    transition-property: padding;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-colors {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.duration-300 {
    transition-duration: .3s
}

.duration-500 {
    transition-duration: .5s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.ease-out {
    transition-timing-function: cubic-bezier(0,0,.2,1)
}

.will-change-\[opacity\,transform\] {
    will-change: opacity,transform
}

.will-change-transform {
    will-change: transform
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.scrollbar-hide::-webkit-scrollbar {
    display: none
}

.\[word-spacing\:20px\] {
    word-spacing: 20px
}

.autofill\:bg-transparent:-webkit-autofill {
    background-color: transparent
}

.autofill\:bg-transparent:autofill {
    background-color: transparent
}

.autofill\:text-white:-webkit-autofill {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.autofill\:text-white:autofill {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.group:hover .group-hover\:block {
    display: block
}

.group:hover .group-hover\:-translate-y-0 {
    --tw-translate-y: -0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:-translate-y-full {
    --tw-translate-y: -100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.peer:-moz-placeholder-shown~.peer-placeholder-shown\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.peer:placeholder-shown~.peer-placeholder-shown\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.peer:focus~.peer-focus\:scale-\[0\.6\] {
    --tw-scale-x: .6;
    --tw-scale-y: .6;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.work-in-progress-text {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 50px; /* Adjust margin top as needed */
}


@media (min-width: 768px) {
    .md\:absolute {
        position:absolute
    }

    .md\:relative {
        position: relative
    }

    .md\:bottom-0 {
        bottom: 0
    }

    .md\:bottom-4 {
        bottom: 1rem
    }

    .md\:left-0 {
        left: 0
    }

    .md\:left-auto {
        left: auto
    }

    .md\:top-0 {
        top: 0
    }

    .md\:z-10 {
        z-index: 10
    }

    .md\:order-last {
        order: 9999
    }

    .md\:col-span-1 {
        grid-column: span 1 / span 1
    }

    .md\:col-span-12 {
        grid-column: span 12 / span 12
    }

    .md\:col-span-2 {
        grid-column: span 2 / span 2
    }

    .md\:col-span-3 {
        grid-column: span 3 / span 3
    }

    .md\:col-span-4 {
        grid-column: span 4 / span 4
    }

    .md\:col-span-5 {
        grid-column: span 5 / span 5
    }

    .md\:col-span-6 {
        grid-column: span 6 / span 6
    }

    .md\:col-span-7 {
        grid-column: span 7 / span 7
    }

    .md\:col-span-8 {
        grid-column: span 8 / span 8
    }

    .md\:col-start-1 {
        grid-column-start: 1
    }

    .md\:col-start-11 {
        grid-column-start: 11
    }

    .md\:col-start-2 {
        grid-column-start: 2
    }

    .md\:col-start-3 {
        grid-column-start: 3
    }

    .md\:col-start-4 {
        grid-column-start: 4
    }

    .md\:col-start-5 {
        grid-column-start: 5
    }

    .md\:col-start-6 {
        grid-column-start: 6
    }

    .md\:col-start-8 {
        grid-column-start: 8
    }

    .md\:mb-0 {
        margin-bottom: 0
    }

    .md\:mb-16 {
        margin-bottom: 4rem
    }

    .md\:mb-20 {
        margin-bottom: 5rem
    }

    .md\:mb-24 {
        margin-bottom: 6rem
    }

    .md\:mb-32 {
        margin-bottom: 8rem
    }

    .md\:mb-36 {
        margin-bottom: 9rem
    }

    .md\:mb-44 {
        margin-bottom: 11rem
    }

    .md\:mb-48 {
        margin-bottom: 12rem
    }

    .md\:mb-6 {
        margin-bottom: 1.5rem
    }

    .md\:mb-60 {
        margin-bottom: 15rem
    }

    .md\:mb-8 {
        margin-bottom: 2rem
    }

    .md\:mt-0 {
        margin-top: 0
    }

    .md\:block {
        display: block
    }

    .md\:inline-block {
        display: inline-block
    }

    .md\:flex {
        display: flex
    }

    .md\:grid {
        display: grid
    }

    .md\:hidden {
        display: none
    }

    .md\:aspect-square {
        aspect-ratio: 1 / 1
    }

    .md\:aspect-video {
        aspect-ratio: 16 / 9
    }

    .md\:h-auto {
        height: auto
    }

    .md\:h-full {
        height: 100%
    }

    .md\:h-headerDesk {
        height: 5.375rem
    }

    .md\:h-screen {
        height: 100vh;
        height: 100svh
    }

    .md\:min-h-screen {
        min-height: 100vh;
        min-height: 100svh
    }

    .md\:w-1\/2 {
        width: 50%
    }

    .md\:w-1\/3 {
        width: 33.333333%
    }

    .md\:w-2\/3 {
        width: 66.666667%
    }

    .md\:w-\[calc\(100vw-4rem\)\] {
        width: calc(100vw - 4rem)
    }

    .md\:w-\[calc\(42vw-2\.9rem\)\] {
        width: calc(42vw - 2.9rem)
    }

    .md\:w-auto {
        width: auto
    }

    .md\:w-full {
        width: 100%
    }

    .md\:w-screen {
        width: 100vw
    }

    .md\:max-w-\[125px\] {
        max-width: 125px
    }

    .md\:max-w-\[35ch\] {
        max-width: 35ch
    }

    .md\:max-w-\[422px\] {
        max-width: 422px
    }

    .md\:max-w-\[50\%\] {
        max-width: 50%
    }

    .md\:max-w-\[80\%\] {
        max-width: 80%
    }

    .md\:max-w-none {
        max-width: none
    }

    .md\:flex-\[0_0_500px\] {
        flex: 0 0 500px
    }

    .md\:-translate-x-5 {
        --tw-translate-x: -1.25rem;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .md\:translate-x-5 {
        --tw-translate-x: 1.25rem;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .md\:translate-y-28 {
        --tw-translate-y: 7rem;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .md\:translate-y-\[100px\] {
        --tw-translate-y: 100px;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .md\:scale-\[0\.10909\] {
        --tw-scale-x: .10909;
        --tw-scale-y: .10909;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .md\:grid-rows-\[0fr_1fr_auto\] {
        grid-template-rows: 0fr 1fr auto
    }

    .md\:flex-col {
        flex-direction: column
    }

    .md\:items-center {
        align-items: center
    }

    .md\:justify-end {
        justify-content: flex-end
    }

    .md\:justify-center {
        justify-content: center
    }

    .md\:overflow-hidden {
        overflow: hidden
    }

    .md\:overflow-visible {
        overflow: visible
    }

    .md\:border-t-0 {
        border-top-width: 0px
    }

    .md\:bg-black\/30 {
        background-color: #1a171e4d
    }

    .md\:bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity))
    }

    .md\:object-cover {
        -o-object-fit: cover;
        object-fit: cover
    }

    .md\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .md\:py-1 {
        padding-top: .25rem;
        padding-bottom: .25rem
    }

    .md\:py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .md\:pb-0 {
        padding-bottom: 0
    }

    .md\:pb-2 {
        padding-bottom: .5rem
    }

    .md\:pb-24 {
        padding-bottom: 6rem
    }

    .md\:pb-28 {
        padding-bottom: 7rem
    }

    .md\:pb-5 {
        padding-bottom: 1.25rem
    }

    .md\:pb-60 {
        padding-bottom: 15rem
    }

    .md\:pl-10 {
        padding-left: 2.5rem
    }

    .md\:pl-5 {
        padding-left: 1.25rem
    }

    .md\:pl-6 {
        padding-left: 1.5rem
    }

    .md\:pr-6 {
        padding-right: 1.5rem
    }

    .md\:pr-8 {
        padding-right: 2rem
    }

    .md\:pt-0 {
        padding-top: 0
    }

    .md\:pt-16 {
        padding-top: 4rem
    }

    .md\:pt-24 {
        padding-top: 6rem
    }

    .md\:pt-32 {
        padding-top: 8rem
    }

    .md\:pt-36 {
        padding-top: 9rem
    }

    .md\:pt-64 {
        padding-top: 16rem
    }

    .md\:pt-8 {
        padding-top: 2rem
    }

    .md\:pt-headerDesk {
        padding-top: 5.375rem
    }

    .md\:text-left {
        text-align: left
    }

    .md\:text-right {
        text-align: right
    }

    .md\:text-justify {
        text-align: justify
    }

    .md\:text-black {
        --tw-text-opacity: 1;
        color: rgb(26 23 30 / var(--tw-text-opacity))
    }

    .md\:opacity-0 {
        opacity: 0
    }
}

@media (min-width: 1024px) {
    .lg\:col-span-9 {
        grid-column:span 9 / span 9
    }
}

@media (min-width: 1280px) {
    .xl\:col-span-1 {
        grid-column:span 1 / span 1
    }

    .xl\:col-span-3 {
        grid-column: span 3 / span 3
    }

    .xl\:col-span-4 {
        grid-column: span 4 / span 4
    }

    .xl\:col-span-6 {
        grid-column: span 6 / span 6
    }

    .xl\:col-start-2 {
        grid-column-start: 2
    }
}

@media (min-width: 1536px) {
    .\32xl\:pl-\[3vh\] {
        padding-left:3vh
    }
}
